#divFoto {
    border: 1px dashed gray;
    min-height: 3em;
    margin-bottom: 1em;
}

#btnModal {
    visibility: hidden;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 48px;
    color: #575468;
}

p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #575468;
}

.btn {
    background-color: #FF9400;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
