#btnModal{
    visibility: hidden;
}
#btnModalFinanceiro{
    visibility: hidden;
}

#btnFiltrar{
    margin-right: 2em;
}


#sim{
  color: #FF9400;
}

#nao{
    color: gray;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 48px;
    color: #575468;
}

th {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #575468;
}

.dados {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #575468;
}

.btn {
    background-color: #FF9400;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}