#pedidosgeral{
    border: 1px solid rgb(172, 170, 170);
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 2px 2px 5px gray;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 48px;
    color: #575468;
}